n8n orchestration/revision_AI.json
{
  "name": "revision_AI",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1040,
        16
      ],
      "id": "3e1a8770-f33d-4ae2-8729-d509cb13de0a",
      "name": "When chat message received",
      "webhookId": "7b273737-e94e-48aa-8f44-b1fb0438053b"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -208,
        -48
      ],
      "id": "45600cf4-3e2a-4602-bce7-336b060686ed",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Object.keys($binary).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "10963d72-e736-48d1-8f6f-947003f672cc"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c6c47ef-3a39-462a-9630-afff9752dcc9",
      "name": "Check If File Uploaded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2492f34-7aa2-4d45-8c0e-e3a931dcbb2d",
      "name": "Embeddings (Insert)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        -64
      ],
      "credentials": {
        "openAiApi": {
          "id": "0VlXpIrU9rh7P7h3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "1a3e48be-5c98-48ae-8e6f-6c98fb9481da",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -272,
        112
      ]
    },
    {
      "parameters": {
        "formTitle": "Upload Your Study Notes",
        "formDescription": "Upload your notes or syllabus PDF to get started with AI-powered revision assistance",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Notes PDF",
              "fieldType": "file",
              "fieldName": "notesPdf",
              "acceptFileTypes": ".pdf"
            },
            {
              "fieldLabel": "Ask query"
            }
          ]
        },
        "options": {}
      },
      "id": "04fbf9c9-58e2-4cae-a2d2-0d18d7b14f2c",
      "name": "Form - Upload Notes",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1040,
        256
      ],
      "webhookId": "f4eb5305-f9cf-4e1d-bc96-127f3d616fb2"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Notes Uploaded Successfully!",
        "completionMessage": "={{ $json.document.pageContent }}",
        "options": {}
      },
      "id": "3678f38b-3b71-4465-8ea8-0f4a48548179",
      "name": "Form Completion",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        240,
        32
      ],
      "webhookId": "52ed8955-615c-4976-b299-7215299998c8"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "4fa4c751-5383-4f63-8f97-803b14fa84de",
      "name": "Insert Into Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -368,
        -272
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "prompt": "get the required data asked by the user "
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -352,
        304
      ],
      "id": "92c6ed0a-341b-4ee9-b2bd-2818b53b36b6",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        496
      ],
      "id": "8dfbfb97-f60e-400a-bab3-77f3b0440261",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0VlXpIrU9rh7P7h3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "path": "0f9000ff-f7ab-44d1-943e-347a5c24827a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        -224
      ],
      "id": "6c731e53-a138-4cbd-84a1-79d602fd6011",
      "name": "Webhook",
      "webhookId": "0f9000ff-f7ab-44d1-943e-347a5c24827a"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Check If File Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Into Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Uploaded": {
      "main": [
        [
          {
            "node": "Insert Into Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (Insert)": {
      "ai_embedding": [
        [
          {
            "node": "Insert Into Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Form - Upload Notes": {
      "main": [
        [
          {
            "node": "Check If File Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into Vector Store": {
      "main": [
        [
          {
            "node": "Form Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Form Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check If File Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c677f9d9-2fba-47d2-b059-5c11a1094412",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c36c768ac0206512697662ddc024e4a936008998762c95e8ab50551a650ceef1"
  },
  "id": "J49cLgpJeE0MHxx9",
  "tags": []
}